body {
    background: rgb(81, 81, 178);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.44);
    display: grid;
    justify-content: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#foto {
    width: 150px;
    height: 150px;
    border-radius: 90px;
    display: block;
    justify-content: center;
}